@import "../../variables";

.lightproject {
    background-color: $l-main-bg;
    color: $l-text-color;

    button {
        color: $l-text-color;
    }
}

.darkproject {
    background-color: $d-main-bg;
    color: $d-text-color;
    
    button {
        color: $d-text-color;
    }
}

.projectSection {
    padding: $top-margin $side-margin;
    display: flex;
    flex-direction: column;

    .projectTitle {
        flex: 2;
        position: relative;
        display: flex;
        flex-direction: column;

        h5 {
            font-family: "Poppins", sans-serif;
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: 0.25rem;
            margin-bottom: 1rem;
        }
    
        h1 {
            font-family: "Fira sans", sans-serif;
            font-style: italic;
            font-size: 2.25rem;
            font-weight: 400;
            letter-spacing: 0.1rem;
        }
    }

    .button {
        align-self: center;
        justify-self: center;
        
        button {
            font-family: "Poppins", sans-serif;
            text-transform: uppercase;
            letter-spacing: 0.05rem;
            cursor: pointer;
            padding: .7rem 2rem;
            background-color: transparent;
            border: 1.5px solid $signature-red;
            transition: all 0.1s ease-in-out;

            &:hover {
                background-color: $signature-red;
                box-shadow: 5px 5px 40px 10px #88888840;
            }
        }
    }
}