$signature-red: #FF5853;


$l-text-color: #1C1B20;
$l-nav-bg: #F8F8F860;
$l-icons: #1C1B2060;
$l-diff-bg: #F8F8F8;
$l-diff-text: #1c1b2060;
$l-nav-link: #1C1B2080;
$l-main-bg: #fff;

$d-text-color: #F8F8F8;
$d-nav-bg: #1C1B2060;
$d-icons: #F8F8F860;
$d-diff-bg: #474357;
$d-diff-text: #F8F8F860;
$d-nav-link: #F8F8F880;
$d-main-bg: #1C1B20;

$side-margin: 6.25rem;
$small-side-margin: 2rem;

$size-phone: 576px;
$size-tablet: 768px;
$size-desktops: 992px;
$size-large-desktops: 1200px;